Todo_app/__pycache__/functions.cpython-310.pyc
Todo_app/bonus/bonus15.py
Todo_app/bonus/bonuses.py
Todo_app/bonus/parses.py
Todo_app/bonus/questions.json
Todo_app/bonus/__pycache__/parses.cpython-310.pyc
Todo_app/bonus/files/files.txt
Todo_app/coding exercise/Exercises.py
Todo_app/coding exercise/randit.py
Todo_app/coding exercise/__pycache__/randit.cpython-310.pyc
Todo_app/modules/e1 glob module.py
Todo_app/modules/e2 csv module.py
Todo_app/modules/ep3 archive module.py
Todo_app/modules/ep4 website module.py
Todo_app/modules/weather.csv
Todo_app/modules/files/ideas.txt
Todo_app/modules/files/projects.txt
Todo_app/27th Jan 2022.txt
Todo_app/cointoss.txt
Todo_app/sides.txt
Todo_app/bonus/bonus16.py
Todo_app/bonus/bonus17.py
Todo_app/bonus/.DS_Store
Todo_app/bonus/zip_creator.py
Todo_app/bonus/__pycache__/zip_creator.cpython-310.pyc
Todo_app/bonus/dest/.DS_Store
Todo_app/bonus/dest/compressed.zip
Todo_app/bonus/dest/Todo_app/.DS_Store
Todo_app/bonus/dest/Todo_app/bonus/bonus15.py
Todo_app/bonus/dest/Todo_app/bonus/bonus16.py
Todo_app/coding exercise/converter gui.py
Todo_app/coding exercise/exefunctions.py
Todo_app/coding exercise/testing.py
Todo_app/coding exercise/__pycache__/exefunctions.cpython-310.pyc
