Todo_app/__pycache__/functions.cpython-310.pyc
Todo_app/bonus/bonus15.py
Todo_app/bonus/bonuses.py
Todo_app/bonus/parses.py
Todo_app/bonus/questions.json
Todo_app/bonus/__pycache__/parses.cpython-310.pyc
Todo_app/bonus/files/files.txt
Todo_app/coding exercise/Exercises.py
Todo_app/coding exercise/randit.py
Todo_app/coding exercise/__pycache__/randit.cpython-310.pyc
Todo_app/modules/e1 glob module.py
Todo_app/modules/e2 csv module.py
Todo_app/modules/ep3 archive module.py
Todo_app/modules/ep4 website module.py
Todo_app/modules/weather.csv
Todo_app/modules/files/ideas.txt
Todo_app/modules/files/projects.txt
Todo_app/27th Jan 2022.txt
Todo_app/cointoss.txt
Todo_app/sides.txt
Todo_app/bonus/bonus16.py
Todo_app/bonus/bonus17.py
Todo_app/bonus/.DS_Store
Todo_app/bonus/zip_creator.py
Todo_app/bonus/__pycache__/zip_creator.cpython-310.pyc
Todo_app/bonus/dest/.DS_Store
Todo_app/bonus/dest/compressed.zip
Todo_app/bonus/dest/Todo_app/.DS_Store
Todo_app/bonus/dest/Todo_app/bonus/bonus15.py
Todo_app/bonus/dest/Todo_app/bonus/bonus16.py
Todo_app/coding exercise/converter gui.py
Todo_app/coding exercise/exefunctions.py
Todo_app/coding exercise/testing.py
Todo_app/coding exercise/__pycache__/exefunctions.cpython-310.pyc
Todo_app/Experiments/add.png
Todo_app/Experiments/complete.png
Todo_app/Experiments/experiment1.py
.gitignore
Todo_app/Experiments/functions.py
Todo_app/Experiments/experiment1Buttons.py
Tums/Documents/Fredy Flash/KAE399R n.pdf
Tums/Documents/Fredy Flash/shamba house balance.xlsx
Tums/Documents/Fredy Flash/Shamba Inputs 2.xlsx - Microsoft Excel Online.html
Tums/Documents/Fredy_Flash/KAE399R n.pdf
Tums/Documents/Fredy_Flash/shamba house balance.xlsx
Tums/Documents/Fredy_Flash/Shamba Inputs 2.xlsx - Microsoft Excel Online.html
Todo_app/bonus/__pycache__/zip_extractor.cpython-310.pyc
Todo_app/bonus/bonus18.py
Todo_app/bonus/zip_extractor.py
Todo_app/Experiments/__pycache__/functions.cpython-310.pyc
Todo_app/Experiments/ExtractorGui.py
Todo_app/__pycache__/functions.cpython-311.pyc
Todo_app/bonus/bonus16makearchive.py
Todo_app/bonus/bonus17makearchive2.py
Todo_app/bonus/bonus18archiveextract.py
Todo_app/bonus/bonus19greyscalecam.py
